* {
    font-family: 'Open Sans', sans-serif;

}

.orange {
    color: #FD6E0A;

}

.btn-primary {
    border-radius: 5px;
    background: #FD6E0A;
    border: 0;
    font-size: 20px;
    font-weight: 700;
    padding: 18px 35px;
    color: #fff;


}


/* nav style */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;

}

.nav-titale {

    color: #181818;
    font-size: 45px;
    font-weight: 800;

}

nav>ul {
    display: flex;
    align-items: center;

}

nav li {
    list-style: none;
    margin-right: 50px;

}

nav a {
    text-decoration: none;
    color: #474747;

}

.header {
    background-color: #FFF8F3;
    background-image: url('../images/header_bg.png'), url('../images/developer.png');
    background-repeat: no-repeat;
    background-position: bottom right , top bottom;

}

.baner {
    padding: 30px 30px 0px 150px;
    display: flex;
    justify-content: space-between;

}

.baner-cotiner {
    max-width: 500px;

}

.baner .profile-pic {
    width: 500px;

}

.baner-me {
    font-size: 45px;
    color: #474747;
    margin-bottom: 0;

}

.baner-titale {
    font-size: 85px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 20px;

}

.baner-pera {
    padding: 30px;

}


/* main style start */
main {
    max-width: 1140px;
    margin: 0 auto;

}

main section {
    margin-top: 130px;

}

.titale {
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}

section .data {

    color: #757575;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

/* about style */
.about {
    padding: 130px;
    margin: 130px 0;
    border-radius: 10px;
    background: #FFF8F3;

}

.about-info-container {
    justify-content: space-around;
    display: flex;


}

.about-info {
    text-align: center;

}

.info-data {
    font-weight: 700;

}

.section-data {
    padding: 30px 150px;

}

/* skills related */
.skills-container {
    display: flex;
    gap: 24px;
}

.skills {
    padding: 32px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);

}

.skills-data {
    color: #757575;

}

.resume-colume-title {
    color: #474747;
    font-size: 30px;
    font-weight: 700;



}

.resume-container {
    display: flex;
    gap: 70px;

}

.resume-item-title {
    color: #474747;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 10px;

}

.resume-item-info {
    color: #757575;
    font-size: 20px;
    margin-bottom: 10px;
    margin-top: 0;


}

.resume-item-data {
    color: #757575;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;

}

.resume-container hr {
    margin: 30px;

}

.download-cv {
    text-align: center;
    margin-top: 50px;

}

/* footer */
footer {
    display: flex;
    background: #FFF8F3;
    padding: 130px 200px;
    margin-top: 100px;
    gap: 100px;
}
.social-link a{
    margin-right:25px ;

}

.footer-colume {
    width: 50%;


}

.contact input[type=text], .contact input[type=email],
textarea {
    display: block;
    margin-bottom: 25px;
    padding: 18px 35px;
    color: #757575);
    font-size: 16px;
    border-radius: 5px;
    background: #FFF;
    border:0;
    width: 100%;


}